* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

.top-bar {
    background-color: white;
    min-height: fit-content;
    position: fixed;
    padding: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    top: 0;
    z-index: 999;
}


nav {
    display: flex;
}

nav .logo {
    object-fit: contain;
    flex-basis: 40%;
}

nav .logo a {
    display: inline-block;
    width: 100%;
}

nav .logo a img {
    display: inline-block;
    width: 100%;
}


.breadcrumb-container h1 {
    font-family: 'DM Serif Display', serif;
    font-size: 30px;
}

.levels-container {
    display: grid;
    grid-template-areas:
        "iqro1 iqro2"
        "iqro3 iqro4"
        "iqro5 iqro6";
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 10%;
    margin-top: 30vh;
}

.levels-container .level-item {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #246E4C;
    aspect-ratio: 1/1;
    width: 100%;
}

.levels-container .level-item span {
    font-size: 18px;
    color: white;
    font-family: 'Shippori Mincho', serif;
}